.env
**/.gitignore
.git/
.idea/
bootstrap/cache/*
database/*.sqlite
laradock/
node_modules/
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor/