table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
table * {
    position: relative;
}
table th {
    padding: 10px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}
table thead tr {
    height: auto;
    background: #3f1652;
}
table tbody td {
    padding: 5px 10px;
}
table tbody tr:last-child {
    border: 0;
}

tbody tr:nth-child(even) {
    background-color: #e7e7e7;
}

tbody tr:hover {
    color: #3f1652;
    background-color: #ffbf8e;
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    table {
        display: block;
    }
    table > *,
    table tr,
    table td,
    table th {
        display: block;
    }
    table thead {
        display: none;
    }
    table tbody tr {
        padding: 5px 10px;
    }
    table tbody tr td {
        padding-left: 30% !important;
    }
    table tbody tr td:last-child {
        margin-bottom: 0;
    }
    table tbody tr td:before {
        color: #3f1652;
        position: absolute;
        left: 5px;
        top: 5px;
    }
    table tbody tr td::before {
        content: attr(data-label);
    }
    .categories {
        flex-direction: column;
    }
}
.delete-hover:hover {
    color: rgb(231, 68, 68);
}
.use-hover:hover {
    color: rgb(132, 255, 179);
}
.noUse-hover:hover {
    color: rgb(252, 64, 111);
}
.refresh-hover:hover {
    color: rgb(240, 177, 130);
}
.delete-hover:hover,
.use-hover:hover,
.noUse-hover:hover,
.refresh-hover:hover {
    font-size: 16px;
}
.delete-hover,
.use-hover,
.noUse-hover,
.refresh-hover {
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
    font-size: 15px;
}
.icons {
    background-color: #66377f;
    border-radius: 100px;
    padding: 7px;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    width: 40px;
    text-align: center;
    content: attr(data-label);
}
.headerOrder {
    background-color: #66377f;
    color: #e7e7e7;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
    #orderOptionAndStatusOption {
        flex-direction: column;
    }
    #newCustomerData {
        margin-right: 0;
    }
}
