.chooseCityContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    align-items: center;
    min-height: 500px;
}
.headerS {
    text-align: left;
    background-color: #66377f;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.headerS h3 {
    color: #d6d6d6;
    font-size: 15px;
    margin-left: 10px;
}
