.footer-16371 {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
.footer-16371 .footer-site-logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}
.footer-16371 .footer-site-logo a {
    color: #3b4ec6;
}
.footer-16371 .nav-links {
    padding: 0;
    margin: 0;
}
.footer-16371 .nav-links li {
    display: inline-block;
}
.footer-16371 .nav-links li a {
    padding: 10px;
    color: #000;
}
.footer-16371 .nav-links li a:hover {
    color: #4200ff;
}
.footer-16371 .social h3 {
    font-weight: bold;
    font-size: 18px;
    color: #000;
}
.footer-16371 .social ul li {
    display: inline-block;
}
.footer-16371 .social ul li a {
    color: #df588a;
    display: inline-block;
    padding: 10px;
}
.footer-16371 .social ul li.in a {
    color: #df588a;
}
.footer-16371 .social ul li.tw a {
    color: #15b8ff;
}
.footer-16371 .social ul li.fb a {
    color: #3742d0;
}
.footer-16371 .social ul li.dr a {
    color: #fa38c1;
}
.footer-16371 .social ul li.pin a {
    color: #dd4d5a;
}
.footer-16371 .copyright {
    color: #999999;
}
::-webkit-scrollbar {
    width: 10px;
    scroll-behavior: smooth;
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(
        0deg,
        rgba(63, 22, 82, 1) 10%,
        rgba(157, 52, 136, 1) 40%,
        rgba(248, 159, 91, 1) 80%
    );
}
a {
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
}
a,
a:hover {
    text-decoration: none !important;
}
nav.shift {
    padding-right: 130px;
    padding-left: 130px;
    background: #fff8e6;
}
nav.shift ul {
    list-style: none;
    text-align: center;
}
nav.shift ul li {
    display: inline-block;
}
nav.shift ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 10px;
}
nav.shift ul li a,
nav.shift ul li a:after,
nav.shift ul li a:before {
    transition: all 0.5s;
}
nav.shift ul li a:hover {
    color: #66377f;
}
nav.shift ul li a {
    position: relative;
    z-index: 1;
}
nav.shift ul li a:hover {
    color: rgb(228, 228, 228);
}
nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    background: #66377f;
    border-radius: 10px;
    visibility: none;
    opacity: 0;
    z-index: -1;
}
nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 90%;
}
#loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6.5%;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgb(40, 40, 40);
    z-index: 99;
}
#loading-image {
    z-index: 100;
    border: 3px solid;
    border-image: linear-gradient(
            0deg,
            rgba(63, 22, 82, 1) 10%,
            rgba(157, 52, 136, 1) 40%,
            rgba(248, 159, 91, 1) 80%
        )
        10;
    width: 29px;
    height: 29px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.signupsingin-btn {
    background-color: #3f1652;
    border: 0;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.signupsingin-btn p {
    color: #fff;
    margin: 0;
    padding-left: 7px;
    text-align: center;
    margin-top: 2px;
    font-size: 0.65rem;
}
.signupsingin-btn i {
    color: #f89f5b;
    vertical-align: baseline;
    padding-right: 5px;
    font-size: 20px;
}
.icons {
    background-color: #66377f;
    border-radius: 100px;
    padding: 7px;
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    width: 40px;
    text-align: center;
    content: attr(data-label);
}
.delete-hover:hover {
    color: rgb(231, 68, 68);
}
.use-hover:hover {
    color: rgb(132, 255, 179);
}
.noUse-hover:hover {
    color: rgb(252, 64, 111);
}
.refresh-hover:hover {
    color: rgb(240, 177, 130);
}
.delete-hover:hover,
.use-hover:hover,
.noUse-hover:hover,
.refresh-hover:hover {
    font-size: 16px;
}
.delete-hover,
.use-hover,
.noUse-hover,
.refresh-hover {
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
    font-size: 15px;
}
